 <div class="user-details">
  <h1> My Work Experience </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Science Intern</h2>
      <img class="iconCustom" style="height: 100px; width: 100px;" alt="DDBTelkom" src="{{ "/assets/img/DDSlogo.png" | prepend: site.baseurl }}" />
      <p>Currently I am running an internship as a Data Science Intern at PT. Telekomunikasi Indonesia Tbk Directorate of Digital Business (Telkom DDB) where I do business research and provide insights to the company</p>
    </div>
    <div class="tech">
      <h2>Mobile Apps Intern</h2>
      <img class="iconCustom" style="height: 100px; width: 100px;" alt="Tutordoors" src="{{ "/assets/img/Tutordoors.png" | prepend: site.baseurl }}" />
      <p>I work as a mobile developer at Tutordoors - PT. Sinergia Internasional Edutama on my fifth Semester, where I created a feature for developing their online tutor application using the Ionic framework</p>
    </div>
    <div class="tech">
      <h2>API Dev Freelance</h2>
      <img class="iconCustom" style="height: 33; width: 100px;" alt="AneBantu" src="{{ "/assets/img/Anebantu.png" | prepend: site.baseurl }}" />
      <p>On sixth semester i started freelancing where I got an offer to develop a REST API according to existing Contracts and Features using NodeJs, Sequelize, and Javascript</p>
    </div>
</div>
