 <div class="user-details">
  <h1> About Me & Work Experience </h1>
  <br/>
  <img style="height: 200px; width: 200px; display: block; margin-left: auto; margin-right: auto;   border-radius: 50%;" alt="Hafizh Fauzan" src="{{ "/assets/img/Hafizh.jpg" | prepend: site.baseurl }}" />
  <br/>
  <p> I'm a Computer Engineering student, currently 7th semester, on Sepuluh Nopember Institute of Technology. Also, now working as Data Scientist Intern on Telkom Directorate of Digital Business. I plan to work overseas once my study is finished and open a coffee shop once i'm ready. I like to gain new experience, and try new things, also my hobby is Kendo Martial Art and Gaming</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Science Intern</h2>
      <img class="iconCustom" style="height: 100px; width: 100px; display: block; margin-left: auto; margin-right: auto;" alt="DDBTelkom" src="{{ "/assets/img/DDSlogo.png" | prepend: site.baseurl }}" />
      <p>Currently I am running an internship as a Data Science Intern at PT. Telekomunikasi Indonesia Tbk Directorate of Digital Business (Telkom DDB) where I do business research and provide insights to the company</p>
    </div>
    <div class="tech">
      <h2>Mobile Apps Intern</h2>
      <img class="iconCustom" style="height: 100px; width: 100px; display: block; margin-left: auto; margin-right: auto;" alt="Tutordoors" src="{{ "/assets/img/Tutordoors.png" | prepend: site.baseurl }}" />
      <p>I work as a mobile developer at Tutordoors - PT. Sinergia Internasional Edutama on my fifth Semester, where I created a feature for developing their online tutor application using the Ionic framework</p>
    </div>
    <div class="tech">
      <h2>API Developer</h2>
      <img class="iconCustom" style="height: 100px; width: 100px; display: block; margin-left: auto; margin-right: auto;" alt="AneBantu" src="{{ "/assets/img/Anebantu.jpg" | prepend: site.baseurl }}" />
      <p>On sixth semester i started freelancing where I got an offer to develop a REST API according to existing Contracts and Features using NodeJs, Sequelize, and Javascript</p>
    </div>
</div>
