 <div class="user-details">
  <h1> My Work Experience </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Science Intern</h2>
      <img class="iconCustom" style="height: 20px; width: 20px; display: block;" alt="DDBTelkom" src="{{ "/assets/img/DDSlogo.png" | prepend: site.baseurl }}" />
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Mobile Apps Intern</h2>
      <img class="iconCustom" style="height: 20px; width: 20px; display: block;" alt="Tutordoors" src="{{ "/assets/img/Tutordoors.png" | prepend: site.baseurl }}" />
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>API Dev Freelance</h2>
      <img class="iconCustom" style="height: 20px; width: 20px; display: block;" alt="AneBantu" src="{{ "/assets/img/Anebantu.png" | prepend: site.baseurl }}" />
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
