<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="ITSProctor" src="{{ "/assets/img/ITSProctor.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ITS Proctor - Exam Proctor </h3>
    <ul>
      <li> Face Recognition</li>
      <li> Python</li>
      <li> Face Recognition</li>
    </ul>
    <p>ITS Proctor is a software created as software to help test supervisors. This software was made in connection with an official application regarding the Making of an Online Exam System at ITS from the Director of Education to DPTSI.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="SurabayaCovid19" src="{{ "/assets/img/SurabayaCovid.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Surabaya Covid 19 App </h3>
    <ul>
      <li> Flutter</li>
      <li> Mobile Development</li>
      <li> GeoJSON</li>
    </ul>
    <p>Surabaya Covid 19 App is a mobile application that is made as to get data covid-19 with easy on East Java. Applications can also indicate the nearest hospital, the nearest health facility, and the notification of data covid if displaced.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="SmartPJU" src="{{ "/assets/img/SmartPJU.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Smart Lamp Monitoring </h3>
    <ul>
      <li> Internet of Things</li>
      <li> Embedded System</li>
      <li> Web Development & Database</li>

    </ul>
    <p>Smart Lamp Monitoring is present as platform that just doesn't allow electrical technician to monitor Public Street Lighting (PSL) performance in real-time, but also can control all registered PSLs remotely (remote).</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="DaysWithoutAccident" src="{{ "/assets/img/DaysWithoutAccident.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Ø Days Without Accident </h3>
    <ul>
      <li> Game Development</li>
      <li> Unity3d</li>
      <li> C#</li>
    </ul>
    <p>Ø Days Without Accident is a Tower Defense game with the theme of Occupational Health and Safety, where the dangers in Occupational Health and Safety are made into enemies (monsters) that can be defeated by using various towers which are a means of preventing these dangers.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>